# 2016 April 27
# https://github.com/bevry/base

# Use the latest travis infrastructure
sudo: false

# We use node
language: node_js
node_js:
  - "0.12"
  - "4"
  - "5"
  - "6"
cache:
  directories:
    - node_modules

# Prepare our tests
# Ensure the project is setup correctly and compiled
install: "npm run-script setup"
before_script: "npm run-script compile"

# Run our tests
script: "npm test"

# Custom notifications
notifications:
  slack:
    secure: qIrPYFvY4/haWCwyyZPJ23rFJOiF7quxFckW9iVbynX9MLU6bn+ZyzLYsaSlCV2ENIoXaH5Td6P5Oe8ujg2rEqrLZtXKCCjLOyb7Oq1QJZ1pwvyFWM3vamVsNnqGagG6lpmCrqYxkZNHBiI4Esi/7mFNFEZAqP2AIbLpBPYC8e4=
  email:
    recipients:
      secure: ozYKqercYKKTaBz8Oi4DXW2CVT/tDBdZr54Bs5T1Q/niCd66egHqjN9n6/xStvtPHBJ3ImR4DHYxbDibj9+kaLfMJ9FYgaeWLBR4xaupmDz9apo9b/STB9eVcebWB5NIBf52hP88t0cYDIMzkcUmG06nKtRaaoFiCtbkv6pzqLQ=
